﻿@model CBD.Frontend.Web.Areas.ExampleModule.Models.ProductViewModel

@{
    ViewBag.Title = "Produkty po kategoriach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />

<h2>Produkty po kategoriach</h2>

@using (Html.BeginForm())
{
    <p>Kategoria: @Html.DropDownList(
        "Id",
        new SelectList(Model.Categories,
            "Id", "Name", Model.SelectedCategory))
             <input type="submit" value="Wybierz"/></p>
}

<table id="products"></table>


@section scripts
{
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>

    <script>
        jQuery("#products").jqGrid({
            datatype: "local",
	        colNames:['Id','Nazwa', 'Cena jed.'],
   	        colModel:[
   		        {name:'Id',index:'Id'},
   		        {name:'Name',index:'Name'},
   		        {name:'UnitPrice',index:'UnitPrice'}
   	        ],
   	        caption: "Produkty"
        });

        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Products));

        for (var i = 0; i <= data.length; i++)
            jQuery("#products").jqGrid('addRowData', i + 1, data[i]);
    </script>
}

